/* page.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;
}

.selectors .selection {
  display: flex;
  width: 100%;
}

.selectors div {
  width: 100%;
}

.selectors h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.selectors select {
  width: 100%;
  height: 150px;
}

.selectors button {
  display: block;
  margin: 5px auto;
  font-size: 18px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

.loading {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-top: 50px;
}

.error {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}
