.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 18px;
    flex-direction: column;
}
.graph-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}