body{
    background-color: white;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 18px;
    height: 100%;
    background-color: white;
    flex-direction: column;
}
.graph-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}